<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRTaktiks.IRTSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IRTaktiks.IRTSettings>
            <setting name="Height" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnitsPerPlayer" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AttributePointsPerUnit" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PointsPerAttribute" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="BaseLevel" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="ListenTUIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListenMouse" serializeAs="String">
                <value>True</value>
            </setting>
        </IRTaktiks.IRTSettings>
    </applicationSettings>
</configuration>